<style>
label {
margin: 15px 0px 2px 0px;
}

button {
margin-top: 10px;
}
</style>

div.container

<form class="well form-horizontal" action="/business" method="post">
<label>Business Name</label>
<input name="businessname" type="text" class="span3" placeholder="Enter business name">

<label>Business Address</label>
<input name="address" id="address" type="text" class="span3" placeholder="Enter business address">

<label>Comments</label>
<input name="comments" type="text" class="span3" placeholder="Enter comments">

<label>Employee Number</label>
<input name="user" type="text" class="span3" placeholder="Enter W number">
<br />

<button type="submit" class="btn-info">Next</button>
</form>

script
    $(document).ready(function() {
        navigator.geolocation.getCurrentPosition(function (position) {
        var geocoder = new EMS.Services.Geocoder();
        geocoder.reverseGeocode(position.coords.longitude, position.coords.latitude, function(addr) {
                $('#address').val(addr.results[0].street.fullName + ", "  + addr.results[0].suburb );

            });
        });
    });
