    <div class="container">

      <div class="page-header">
        <h2>Put logo here</h2>
        <button>Home</a>
      </div>
      
      <form class="well form-horizontal" action="">
        <label>Business Name</label>
        <input name="bname" type="text" class="span3" placeholder="Enter business name">

        <label>Business Address</label>
        <input name="baddress" type="text" class="span3" placeholder="Enter business address">

        <label>Comments</label>
        <input name="bcomments" type="text" class="span3" placeholder="Enter comments">

        <label>Employee Number</label>
        <input name="enumber" type="text" class="span3" placeholder="Enter W number">
        <br />

        <button type="submit" class="btn-info">Next</button>
      </form>
    </div> <!-- /container -->
