div.hero-unit
	h1= title
	table.table.table-bordered.table-striped
		thead
			tr
				th Rank
				th Name
				th Score
		tbody
			each user, rank in topten
				tr
					td= rank+1 
					td
						a(href='/user/' + user.id)= user.id
					td= user.leads

