
    <div class="container">

      <div class="page-header">
        <h2>Put logo here</h2>
        <button>Home</a>
      </div>

        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">List of Businesses</a></li>
            <li><a href="#tab2" data-toggle="tab">Map of Businesses</a></li>
            <li><a href="#tab2" data-toggle="tab">Leader Board</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hofbrahaus</td>
                    <td>13, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Flower Drum</td>
                    <td>168, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Hofbrahaus</td>
                    <td>13, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Flower Drum</td>
                    <td>168, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Hofbrahaus</td>
                    <td>13, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Flower Drum</td>
                    <td>168, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Hofbrahaus</td>
                    <td>13, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Flower Drum</td>
                    <td>168, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Hofbrahaus</td>
                    <td>13, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                  <tr>
                    <td>Flower Drum</td>
                    <td>168, Market Lane, Melbourne 3000 Victoria</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="tab2">
              <p>Put map here</p>
            </div>
            <div class="tab-pane" id="tab3">
              <p>Put leader board here</p>
            </div>
          </div>
        </div>

        <form class="well" action="">
          <button>Add a new business</button>
        </form>
    </div> <!-- /container -->

