
<div class="container">

<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">List of Businesses</a></li>
<li><a href="#tab2" data-toggle="tab">Map of Businesses</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
for x in data.results
  tr
    td= x.name
    td= x.primaryAddress.addressLine + ", " + x.primaryAddress.suburb
</tbody>

</table>
</div>
<div class="tab-pane" id="tab2">
<div style="width:320px; height:320px;" id="map">
</div>
<div class="tab-pane" id="tab3">
<p>Put leader board here</p>
</div>
</div>
</div>

<form class="well" action="">
<a href="/form">Add a new business</a>
</form>
</div> <!-- /container -->


script
   $(document).ready(function() {
     var poiCounter=0;

     var map = new EMS.Services.Map('map',{zoom:12,center:new EMS.LonLat(#{long},#{lat})});
     var icon = EMS.Services.StandardIcons.poi(map.tilePath, "000000","ff0000", poiCounter+=1);
     map.markersLayer.addMarker(new OpenLayers.Marker(new EMS.LonLat(144.96291, -37.813585), EMS.Services.StandardIcons.poi(map.tilePath, "000000","ff0000", poiCounter+=1)));
     map.markersLayer.addMarker(new OpenLayers.Marker(new EMS.LonLat(144.96291, -37.813578), EMS.Services.StandardIcons.poi(map.tilePath, "000000","ff0000", poiCounter+=1)));
   });