
<div class="container">

<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">List of Businesses</a></li>
<li><a href="#tab2" data-toggle="tab">Map of Businesses</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<table class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Address</th>
</tr>
</thead>
<tbody>
for x in data.results
	tr
		td= x.name
		td= x.primaryAddress.addressLine + ", " + x.primaryAddress.suburb
</tbody>

</table>
</div>
<div class="tab-pane" id="tab2">
<p>Put map here</p>
</div>
<div class="tab-pane" id="tab3">
<p>Put leader board here</p>
</div>
</div>
</div>

<form class="well" action="">
<button>Add a new business</button>
</form>
</div> <!-- /container -->

