    <div class="container">

      <div class="page-header">
        <h2>Put logo here</h2>
        <button>Home</a>
      </div>

      <div class="alert alert-success">
		Thank-you! You have successfully added a new business.
		<p><a class="btn btn-primary btn-large">Add another business</a></p> 
		<p><a class="btn btn-primary btn-large">Checkout the leaderboard</a></p>
	  </div>
    </div> <!-- /container -->
