

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.wally {
    background-image: url(../img/wally.jpeg);
    background-repeat: no-repeat;
    background-position: 160px;
}











